/* Will be compiled down to a single stylesheet with your sass files */
#wind {
	  	width: 210px;
    	height: 210px;
    	position: relative;
}
.arrow_box {
	position: relative;
	/*background: #88b7d5;*/
	border-radius: 50%;
	border: 20px solid #c2e1f5;
	width: 170px;
	height: 170px; 
	text-align: center;	
	-webkit-transition: all 1s ease;
	/*transform:rotate(296deg);
	-ms-transform:rotate(296deg); IE 9 */
	/* -webkit-transform:rotate(296deg);  Safari and Chrome */
}




.arrow_box:after, .arrow_box:before {
	bottom: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	-webkit-transition: all 1s ease;
}

.arrow_box:after {
	border-bottom-color: #c2e1f5;
	border-width: 50px;
	left: 50%;
	margin-left: -50px;
}
.arrow_box:before {	
	border-bottom-color: #c2e1f5;
	border-width: 56px;
	left: 50%;
	margin-left: -56px;
}
.l6{border: 20px solid #0041ff;}
.l6:after, .l6:before {border-bottom-color: #0041ff;}

#windtxt {
 	width: 100%;
    height: 100%;
    position: absolute;
    top: 63px;
    text-align:center;
    z-index: 10;
    color: #c2e1f5;	
}

#wrapper {
	position:absolute; z-index:1;
	top:45px; bottom:0; left:0;
	width:100%;
	
	overflow:auto;
}

.windbars {
	/*height: 225px;*/
	margin: 0 auto;
	width:1200px;	
	position: fixed;
	bottom: 0;
}
.windbar {
	background-color: ff1200;
	width:100%;
	opacity: 0.8;
	padding-top: 2px;
	height:500px;
	-webkit-transition: all 1s ease;
}
.windbar:hover {
	opacity: 1;	
}


.windbar-wrap {	
	width:10%;	
	float:left;
}

.windbar-wrap .timestamp{	
	padding:2px;
	text-align: center;
	color:#FFFFFF;
}

.windbar-wrap .detail{		
	text-align: center;
}

.container {
	width:100%;
}

	
.mini_arrow_box {
	position: relative;
	background: #FFFFFF;
	border-radius: 50%;
	border: 1px solid #FFFFFF;
	color: #c2e1f5;
	width: 20px;
	height: 20px; 
	text-align: center;	
	margin:4px auto;
	
	/*transform:rotate(296deg);
	-ms-transform:rotate(296deg); IE 9 */
	/* -webkit-transform:rotate(296deg);  Safari and Chrome */
}	

/*.mini_arrow_box:after, .mini_arrow_box:before {
	bottom: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.mini_arrow_box:after {
	border-color: rgba(136, 183, 213, 0);
	border-bottom-color: #ffffff;
	border-width: 7px;
	left: 50%;
	margin-left: -7px;
}
.mini_arrow_box:before {
	border-color: rgba(194, 225, 245, 0);
	border-bottom-color: #ffffff;
	border-width: 7px;
	left: 50%;
	margin-left: -7px;
} */
/*http://web-profile.com.ua/web-services/color/color_gradient.php?mode1=hex1&hex1=%231600ff&mode2=hex2&hex2=%2300ffed&r1=32&g1=0&b1=255&r2=0&g2=255&b2=237&h1=247&s1=100&l1=50&h2=175&s2=100&l2=50&steps=10&color=Gradient*/
