html, body {
    margin:0;
    padding:0;
    height: 100%;
}
body {
    font-family: source-sans-pro, sans-serif;
    position: relative;
    width: 100%;
    height:100%;
    overflow: hidden;
    -webkit-font-smoothing: antialiased;
}

body.left-nav .topcoat-navigation-bar, body.left-nav .main-content {
    left:250px;
}
.topcoat-navigation-bar {
    position:absolute;
    width:100%;
    z-index:100;
    transition: left 0.2s ease-out;
    -webkit-transition: left 0.2s ease-out;
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
}
.side-nav {
    display:block;
    position:absolute;
    top:0;
    left:0;
    width:320px;
    height:100%;
    background-color:#353535;
}
.side-nav__list__container {
    margin-top:4rem;
    border-top:none;
    border-bottom:none;
}
.side-nav__list {
    border-top:none;
}
.side-nav__list__item {
    padding:0;
}
.side-nav__list__item.is-active {
    background-color:#353535;
}
.side-nav__button {
    display:block;
    width:100%;
    height:100%;
    padding: 1.25rem;
    box-sizing: border-box;
    color: #c6c8c8;
    text-decoration:none;
}
.side-nav__button:hover {
    background-color:#747474;
}
.side-nav__button:active {
    background-color:#353535;
}
.main-content {
    position: absolute;
   background: inherit;
    left: 0;
    padding-top:4rem;
    width:100%;
    height:100%;
    transition: left 0.2s ease-out;
    -webkit-transition: left 0.2s ease-out;
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
        -moz-box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.57);
    -webkit-box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.57);
    box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.57);
}

h1 {
	font-size:100px;
}

.gline {
	
opacity:1;
stroke:#F1F1F1;
}

#wrap {
	/*height:320px;
	width:480px;*/
	position: relative;
}

.mGraph {
	/*height:280px;*/
}

#wind {
		top:95px;
	  	width: 270px;
    	height: 270px;
    	position: absolute;
    	  left:0;

        right:0;
        margin-left:auto;
        margin-right:auto;
}
.arrow_box {
	position: relative;
	/*background: #88b7d5;*/
	border-radius: 50%;
	border: 30px solid #c2e1f5;
	width: 210px;
	height: 210px; 
	text-align: center;	
	-webkit-transition: all 1s ease;
	    transform: translate3d(0, 0, 0);

	/*transform:rotate(296deg);
	-ms-transform:rotate(296deg); IE 9 */
	/* -webkit-transform:rotate(296deg);  Safari and Chrome */
}

.graph {
	  	width: 610px;
    	height: 210px;
    	background-color: yellow;
}


.arrow_box:after, .arrow_box:before {
	bottom: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	-webkit-transition: all 1s ease;
}

.arrow_box:after {
	border-bottom-color: #c2e1f5;
	border-width: 50px;
	left: 50%;
	margin-left: -50px;
}
.arrow_box:before {	
	border-bottom-color: #c2e1f5;
	border-width: 56px;
	left: 50%;
	margin-left: -56px;
}

#windtxt {
 	width: 100%;
    height: 100%;
    position: absolute;
    top: 13px;
    text-align:center;
   
    color: #c2e1f5;	

}


#wind h1 {
-webkit-transition: all 1s ease;
 position: realtive;
}

#wrapper {
	position:absolute; z-index:1;
	top:45px; bottom:0; left:0;
	width:100%;
	
	overflow:auto;
}

.windbars {
	/*height: 225px;*/
	margin: 0 auto;
	width:1200px;	
	position: fixed;
	bottom: 0;
}
.windbar {
	background-color: ff1200;
	width:100%;
	opacity: 0.8;
	padding-top: 2px;
	height:500px;
	-webkit-transition: all 1s ease;
}
.windbar:hover {
	opacity: 1;	
}


.windbar-wrap {	
	width:10%;	
	float:left;
}

.windbar-wrap .timestamp{	
	padding:2px;
	text-align: center;
	color:#FFFFFF;
}

.windbar-wrap .detail{		
	text-align: center;
}

.container {
	width:100%;
	height:100%;
	background:inherit;
}

	
.mini_arrow_box {
	position: relative;
	background: #FFFFFF;
	border-radius: 50%;
	border: 1px solid #FFFFFF;
	color: #c2e1f5;
	width: 20px;
	height: 20px; 
	text-align: center;	
	margin:4px auto;
	
	/*transform:rotate(296deg);
	-ms-transform:rotate(296deg); IE 9 */
	/* -webkit-transform:rotate(296deg);  Safari and Chrome */
}	

/*.mini_arrow_box:after, .mini_arrow_box:before {
	bottom: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.mini_arrow_box:after {
	border-color: rgba(136, 183, 213, 0);
	border-bottom-color: #ffffff;
	border-width: 7px;
	left: 50%;
	margin-left: -7px;
}
.mini_arrow_box:before {
	border-color: rgba(194, 225, 245, 0);
	border-bottom-color: #ffffff;
	border-width: 7px;
	left: 50%;
	margin-left: -7px;
} */
/*http://web-profile.com.ua/web-services/color/color_gradient.php?mode1=hex1&hex1=%231600ff&mode2=hex2&hex2=%2300ffed&r1=32&g1=0&b1=255&r2=0&g2=255&b2=237&h1=247&s1=100&l1=50&h2=175&s2=100&l2=50&steps=10&color=Gradient*/
/*http://web-profile.com.ua/web-services/color/color_gradient.php?mode1=hex1&hex1=%2300ffed&mode2=hex2&hex2=%23fffe00&r1=22&g1=0&b1=255&r2=0&g2=255&b2=237&h1=244&s1=100&l1=50&h2=175&s2=100&l2=50&steps=10&color=Gradient*/
/*http://web-profile.com.ua/web-services/color/color_gradient.php?mode1=hex1&hex1=%23fffe00&mode2=hex2&hex2=%23ff6e00&r1=0&g1=255&b1=237&r2=255&g2=254&b2=0&h1=175&s1=100&l1=50&h2=60&s2=100&l2=50&steps=10&color=Gradient*/
$colourlist: #1600ff #0006ff #0024ff #0057ff #0070ff #008eff #00a8ff #00c1ff #00dbff #00f9ff #00ffed #00ffc1 #00ff92 #00ff68 #00ff39 #00ff0e #21ff00 #4bff00 #7aff00 #a5ff00 #d4ff00 #fffe00 #fff300 #ffe600 #ffd900 #ffcd00 #ffc000 #ffaf00 #ffa200 #ff9500 #ff8800 #ff7c00 #ff6e00 #ff6600 #ff5e00 #ff5500 #ff3c00 #ff2b00 #ff1a00 #ff1200;

$margin: 15px;

.p0 {
	stroke:#11049a;
}

@for $i from 1 through length($colourlist) {
    $c: nth($colourlist, $i);
    .k#{$i} {background-color: #{$c} }
    .l#{$i} .arrow_box {border-color: #{$c} }   
    .l#{$i} h1 {color: #{$c} }   
	.l#{$i} .arrow_box:after, .l#{$i} .arrow_box:before {border-bottom-color: #{$c}}
    .p#{$i} {fill: #{$c};stroke: #{$c};}
        .l#{$i} .gl {stroke: #{$c};}

}



@media screen and (max-width: 640px) { /* @media screen and (min-width: 880px) { */


.topcoat-navigation-bar__title
{
	  font-size: 1.0rem;

}

}